html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  height: 100%;
}
body{
  line-height:1.6;
  font-family:-apple-system-font, "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 16px;
  height: 100%;
}
*{
  margin:0;
  padding:0;
}
a{ text-decoration:none}
h1{font-size: 18px;color: darkgreen;font-weight: 400;line-height: 30px;text-align: center;}
h2{font-size: 18px;color: darkgreen;font-weight: 400;line-height: 30px;text-align: center;margin-top: 50px;}
h3{font-size: 18px;color: #333333;font-weight: 400;line-height: 30px;text-align: center;}
h4{font-size: 14px;color: #666666;font-weight: 400;text-align: center;padding: 15px 0;}
.tip{padding: 0 15px;color: #666666;text-align: center;font-size: 14px;}
.b{font-weight: 400;font-size: 16px;}
.fk_tip{width: 100%;text-align: center;background-color: rgba(255,255,224,0.9);margin: 0 auto;z-index: 500;position: fixed;left: 0;top: 0;line-height: 30px;}

/*-------创建部分的样式------------*/
.cre_jj{margin: 100px 15px;color:#333333;text-align: center;}
.cre_sty_con{margin: 20px 15px;text-align: center;margin-bottom: 80px;height: 200px;}
.cry_sty{width: 28%;height: 40px;margin:2%;line-height:40px;border-radius:25px;float: left;text-align: center;border: 1px solid #eeeeee;text-decoration: none;font-weight: 400;color: #333333;}
.cry_sty_left{margin-left: 0;}
.cry_sty_right{margin-right: 0;}

.weui-btn2{
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  box-sizing:border-box;
  font-size:18px;
  text-align:center;
  text-decoration:none;
  line-height:2.55555556;
  border-radius:5px;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  overflow:hidden;
  margin-top: 10px;
}
.weui-btn2:after{
  content:" ";
  width:200%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
  border:1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform:scale(0.5);
          transform:scale(0.5);
  -webkit-transform-origin:0 0;
          transform-origin:0 0;
  box-sizing:border-box;
  border-radius:10px;
}
.weui-btn3{
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  box-sizing:border-box;
  font-size:18px;
  text-align:center;
  text-decoration:none;
  line-height:2.55555556;
  border-radius:5px;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  overflow:hidden;
}
.weui-btn3:after{
  content:" ";
  width:200%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
  border:1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform:scale(0.5);
          transform:scale(0.5);
  -webkit-transform-origin:0 0;
          transform-origin:0 0;
  box-sizing:border-box;
  border-radius:10px;
}
.weui-btn_default{
  color:#E64340;
  background-color: #FFFFFF;
}
.weui-btn_default:not(.weui-btn_disabled):visited{
  color:#000000;
}
.weui-btn_default:not(.weui-btn_disabled):active{
  color:rgba(0, 0, 0, 0.6);
  background-color:#DEDEDE;
}
.weui-cells{
  margin-top:10px;
  background-color:#FFFFFF;
  line-height:28px;
  overflow:hidden;
  position:relative;
  padding: 10px 15px;
}
.weui-cells:before{
  content:" ";
  position:absolute;
  left:0;
  top:0;
  right:0;
  height:1px;
  border-top:1px solid #e5e5e5;
  color:#e5e5e5;
  -webkit-transform-origin:0 0;
          transform-origin:0 0;
  -webkit-transform:scaleY(0.5);
          transform:scaleY(0.5);
  z-index:2;
}
.weui-cells:after{
  content:" ";
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  height:1px;
  border-bottom:1px solid #e5e5e5;
  color:#e5e5e5;
  -webkit-transform-origin:0 100%;
          transform-origin:0 100%;
  -webkit-transform:scaleY(0.5);
          transform:scaleY(0.5);
  z-index:2;
}
.weui-cells_form .weui-cell__ft{
  font-size:0;
}
.weui-cells_form .weui-icon-warn{
  display:none;
}
.weui-cells_form input,
.weui-cells_form textarea,
.weui-cells_form label[for]{
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.weui-cell__bd{
  -webkit-box-flex:1;
  -webkit-flex:1;
          flex:1;
}
.weui-textarea{
  display:block;
  border:0;
  resize:none;
  width:100%;
  color:inherit;
  font-size: 16px;
  line-height:inherit;
  outline:0;
  color: #333333;
}

.weui-cell_select{
  padding:0;
}
.weui-cell_select .weui-select{
  padding-right:30px;
}
.weui-cell_select .weui-cell__bd:after{
  content:" ";
  display:inline-block;
  height:6px;
  width:6px;
  border-width:2px 2px 0 0;
  border-color:#C8C8CD;
  border-style:solid;
  -webkit-transform:matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          transform:matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position:relative;
  top:-2px;
  position:absolute;
  top:50%;
  right:15px;
  margin-top:-4px;
}
.weui-select{
  -webkit-appearance:none;
  border:0;
  outline:0;
  background-color:transparent;
  width:100%;
  font-size:inherit;
  height:40px;
  line-height:40px;
  position:relative;
  z-index:1;
}
.weui-cell_select-before{
  padding-right:15px;
}
.weui-cell_select-before .weui-select{
  width:105px;
  box-sizing:border-box;
}
.weui-cell_select-before .weui-cell__hd{
  position:relative;
}
.weui-cell_select-before .weui-cell__hd:after{
  content:" ";
  position:absolute;
  right:0;
  top:0;
  width:1px;
  bottom:0;
  border-right:1px solid #e5e5e5;
  color:#e5e5e5;
  -webkit-transform-origin:100% 0;
          transform-origin:100% 0;
  -webkit-transform:scaleX(0.5);
          transform:scaleX(0.5);
}
.weui-cell_select-before .weui-cell__hd:before{
  content:" ";
  display:inline-block;
  height:6px;
  width:6px;
  border-width:2px 2px 0 0;
  border-color:#C8C8CD;
  border-style:solid;
  -webkit-transform:matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          transform:matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position:relative;
  top:-2px;
  position:absolute;
  top:50%;
  right:15px;
  margin-top:-4px;
}
.weui-cell_select-before .weui-cell__bd{
  padding-left:15px;
}
.weui-cell_select-before .weui-cell__bd:after{
  display:none;
}
.weui-cell_select-after{
  padding-left:15px;
}
.weui-cell_select-after .weui-select{
  padding-left:0;
}

.weui-btn{
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  box-sizing:border-box;
  font-size:18px;
  text-align:center;
  text-decoration:none;
  color:#FFFFFF;
  line-height:2.55555556;
  border-radius:5px;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  overflow:hidden;
}
.weui-btn:after{
  content:" ";
  width:200%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
  border:1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform:scale(0.5);
          transform:scale(0.5);
  -webkit-transform-origin:0 0;
          transform-origin:0 0;
  box-sizing:border-box;
  border-radius:10px;
}
.weui-btn_primary{
  background-color:#1AAD19;
}
.weui-btn_primary:not(.weui-btn_disabled):visited{
  color:#FFFFFF;
}
.weui-btn_primary:not(.weui-btn_disabled):active{
  color:rgba(255, 255, 255, 0.6);
  background-color:#179B16;
}
.weui-btn_primary2{
  background-color:#ff9900;
}
.weui-btn_primary2:not(.weui-btn_disabled):visited{
  color:#FFFFFF;
}
.weui-btn_primary2:not(.weui-btn_disabled):active{
  color:rgba(255, 255, 255, 0.6);
  background-color:#ff9900;
}
.weui-btn-area{
  margin:30px 15px;
}
.weui-btn-area2{
  margin:50px 15px;
}

.weui-textarea-counter{
  color:#B2B2B2;
  text-align:right;
}
.weui-cell_warn .weui-textarea-counter{
  color:#E64340;
}
.sel_mr{color: #666666;}

/*-------目标分享朋友圈------------*/


.lxbg{width:100%;position: absolute;overflow: hidden;background-size:100% auto;background-color: black; }
.tx{width:90px;height:90px;border-radius:90px;border: none;}
.tx_con{padding: 10px auto;text-align: center;margin-top: 80px;}
.nc{margin: 10px 15px;text-align: center;font-size: 16px;line-height: 30px;}
.mb{margin: 10px 35px;text-align: center;font-size: 32px;font-weight: 600;padding-top: 10px;padding-bottom: 10px;line-height: 42px;}
.cf{color: #ff3333}
.ewm_con{margin: 50px 15px;border: 1px solid #eeeeee;border-radius:10px;padding: 10px;width: 85%;height: 60px;color: #666666;}
.erm_left{float: left;width: 15%;height: 100px;margin-right: 10%;}
.img_ewm{width: 60px;height: auto;border: none;}
.sm_right{width: 75%;float: left;text-align: left;line-height: 30px;}
.red_z{color: red;}
.bold_z{font-weight: 400;}
.fxtip{z-index: 100;width: 100%;height: 30px;background-color: beige;text-align: center;position: fixed;bottom:0;line-height: 30px;}
/*-------看书--------*/
.ksbg{background: url("/static/images/kanshu.jpg") no-repeat;}
.tx_ks{border: 5px solid #0099ff;}
/*-------运动--------*/
.ydbg{background: url("/static/images/yundong.jpg") no-repeat;}
.tx_yd{border: 5px solid #009966;}
/*-------健康--------*/
.jkbg{background: url("/static/images/jiankang.jpg") no-repeat;}
.tx_jk{border: 5px solid #ff9900;}
/*-------脱单--------*/
.tdbg{background: url("/static/images/tuodan.jpg") no-repeat;}
.tx_td{border: 5px solid #990066;}
/*-------攒钱--------*/
.zqbg{background: url("/static/images/zanqian.jpg") no-repeat;}
.tx_zqs{border: 5px solid #33cccc;}
/*-------其他--------*/
.qtbg{background: url("/static/images/qita.jpg") no-repeat;}
.tx_qt{border: 5px solid #ff66cc;}


.cre_succ{margin: 50px 15px;text-align: center;}
.icon_succ{width: 100px;height: auto;border: none;}
.mb_bc{height:40px; position:fixed; bottom:0;z-index:201;background-color:rgba(255,255,224,0.9);width: 100%;border-top: 1px solid #eeeeee;text-align: center;font-size: 14px; line-height: 40px;}


/*-------目标详情------------*/
.mb_con{width: 100%;background-color: #ff6666;text-align: center;color: #FFFFFF;}
.mb_cre{padding: 3px 15px;text-align: center;font-size: 12px;color: #f8f8f8;}
.mb_nr{padding: 40px 15px;font-size: 24px;font-weight: 600;line-height: 32px;}
.fz_nr{font-size: 16px;font-weight: normal;}
.fz_nr2{font-size: 16px;font-weight: normal;margin-top: -20px;}
.mb_zt_con{width: 100%;height: 88px;text-align: center;font-size: 14px;}
.mb_zt_li{width: 34%;text-align: center;font-weight: 200;float: left;padding:20px 0;border-left: 1px solid #f8f8f8;color: #666666;}
.mb_zt_left{border: none;width: 65%;}
.mb_zxz{color: #179B16;}
.mb_fq{color: #999999;}
.mb_xq{margin: 0 10px;height: auto;}
.jd_con{text-align:center;width: 100%;overflow: hidden;margin-bottom: 15px;}
.img_jd{width: 12%;height: auto;border: none;float: left;margin: 1%;}
.fg_line{width: 100%;height: 20px;background-color: #f8f8f8;}
.fg_line2{width: 100%;height: 66px;background-color: #f8f8f8;}
.zx_con{margin: 0 15px 50px 15px;text-align: left;padding-bottom: 30px;}
.zx_li{width: 100%;margin:0;overflow: hidden;border-top: 1px solid #f8f8f8;}
.zx_li_nr{padding: 3px 0;line-height: 24px;color: #000000;float:left;width: 100%;}
.zx_li_tp{padding: 3px 0;float: left;width: 100%;}
.img_tp{width: 30%;margin-right: 3%;float: left;border: none;}
.zx_li_time{padding: 3px 0;color:#888888;font-size: 12px;width: 100%; }
.mb_cz{height:65px; position:fixed; bottom:0;z-index:200;background-color:rgba(255,255,255,0.9);width: 100%;border-top: 1px solid #eeeeee;text-align: center;}
.mb_cz_left{width: 38%;float: left;padding: 10px 0;}
.mb_cz_right{width: 26%;float: left;padding: 10px 0;margin-left: 10px;}
.mb_cz_left2{width: 45%;float: left;padding: 10px 0;}
.mb_cz_left3{padding: 10px 0;width: 90%;}
.mb_cz_right2{width: 45%;float: left;padding: 10px 0;margin-left:15px;}
.cz_an_s_l{font-size: 16px; line-height: 46px;font-weight: 400;padding:0 5px;margin-left: 15px;}
.cz_an_s_m{font-size: 16px; line-height: 46px;font-weight: 400;padding:0 5px;}
.cz_an_s_r{font-size: 16px; line-height: 46px;font-weight: 400;padding:0 5px;}

.mb_wj_bg{width:100%;  height:100%;  background:rgba(0, 0, 0, 0.7);  position: fixed;  left: 0;  top: 0;  z-index: 300;}
.mb_wj_con{width: 75%;height:auto;z-index:400;background-color: white;border: 1px solid #eeeeee;text-align: center;margin: 200px auto;border-radius:5px; }
.wj_tip{font-size: 16px;line-height: 28px;text-align: left;padding: 20px;}
.wj_cz{width: 100%;text-align: center;margin-top: 10px;border-top: 1px solid #eeeeee;overflow: hidden; }
.wj_cz_l{width: 49%;border-right: 1px solid #eeeeee;float: left;text-decoration: none;line-height: 48px;color: #000000;font-weight: bold;}
.wj_cz_r{border-right: none;color: #179B16;font-weight: bold;}
.mb_clsoe_con{width: 48px;height: 48px;position: relative;margin-left: 80%;margin-top: -30px;border-radius:48px;border: 1px solid #FFFFFF;background-color:#FFFFFF; }
.close_img{width: 48px; height: auto;border: none;}


/*-------我的历史目标------------*/
.pg_bg{width: 100%;min-height: 100%; background-color: #f8f8f8;overflow: hidden;}
.li_con{background-color: white;margin-bottom: 15px;padding: 20px 20px;overflow: hidden;}
.li_con_l{width: 60px;height:auto;float: left;color: #333333;text-decoration: none;}
.img_l{width: 80px;height: 80px;border: none;border-radius:80px;font-size: 28px;font-weight: 600;text-align: center;line-height: 80px;color: white;}
.li_con_r{float:left;line-height: 30px;margin-left: 100px;margin-top: -80px;width: 80%;}
.r_til{font-size: 18px;font-weight: 400;line-height: 24px;padding-bottom: 10px;color: #333333;text-decoration: none;}
.r_til2{font-size: 18px;font-weight: 400;line-height: 24px;padding-bottom: 10px;color: #333333;text-decoration: none;}
.r_sm{font-size:14px;color: #666666;}
.r_sm2{font-size:14px;color: #666666;}

.ks{background: #0099ff}
.yd{background: #009966}
.jk{background: #ff9900}
.cq{background: #33cccc}
.td{background: #990066}
.qt{background: #ff66cc}
.li_zxz{border-left: 2px solid #1AAD19;}
.li_wc{border-left: 2px solid #ff6666;}
.li_fq{border-left: 2px solid #666666;}
.col_zxz{color: #1AAD19; font-weight: bold;}
.col_wc{color: #ff6666;}
.col_fq{color: #666666;}

/*-------执行力排行------------*/
.ph_zz{height: 100px;padding: 15px;background-color: #f8f8f8;border-bottom: 1px solid #eeeeee;}
.ph_zz_l{float: left;width: 70%;text-align: left;}
.ph_zz_r{float: right;width: 30%;text-align: right;line-height: 40px;font-size: 24px;font-weight: 400;color: #ff6666;}
.zz_l_tx{width:40px;height: 40px;float: left;}
.zz_l_tx1{width:60px;height: 60px;float: left;}
.img_zz_tx1{width: 60px;height: auto;border-radius:60px; border: none;}
.img_zz_tx2{width: 60px;height: auto;border-radius:60px; border: none;margin: 20px auto;}
.img_zz_tx{width: 40px;height: auto;border-radius:40px; border: none;}
.zz_l_nc{margin-left: 80px;line-height: 30px;text-align: left;font-size: 16px;font-weight: 400;  }
.zz_l_ph{margin-left: 80px;height: 20px;color: #666666;}
.zz_sj{width: 100%;font-weight: 200;margin-top: 80px;clear: both;font-size: 14px;}
.zz_sj_l{width: 24%;float: left;border-left: 1px solid #eeeeee;text-align: center;line-height: 16px;}
.zz_sj_b{border: none;}
.ph_l_con{float: left;padding-bottom: 20px; padding-top: 20px; line-height: 40px;width: 100%;border-bottom: 1px solid #f8f8f8;}
.ph_l_n{width: 30px;float: left;text-align: left;font-size: 16px;font-weight: 400;padding-left: 15px;}
.ph_l_m{float: left;text-align: left;font-size: 16px;font-weight: 400;margin-left: 15px;}
.ph_l_f{float: right;text-align: right;font-size: 24px;font-weight: 400;color: #ff6666;padding-right: 15px;}


/*-------执行记录------------*/
.weui-uploader__bd{
  margin-bottom:-4px;
  padding-top: 12px;
  border-top: 1px solid #f8f8f8;
  overflow:hidden;
}
.weui-uploader__files{
  list-style:none;
}
.weui-uploader__file{
  float:left;
  margin-right:9px;
  margin-bottom:9px;
  width:79px;
  height:79px;
  background:no-repeat center center;
  background-size:cover;
}
.weui-uploader__file_status{
  position:relative;
}
.weui-uploader__file_status:before{
  content:" ";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0, 0, 0, 0.5);
}
.weui-uploader__file_status .weui-uploader__file-content{
  display:block;
}
.weui-uploader__file-content{
  display:none;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
  color:#FFFFFF;
}
.weui-uploader__file-content .weui-icon-warn{
  display:inline-block;
}
.weui-uploader__input-box{
  float:left;
  position:relative;
  margin-right:9px;
  margin-bottom:9px;
  width:72px;
  height:72px;
  border:1px solid #D9D9D9;
}
.weui-uploader__input-box:before,
.weui-uploader__input-box:after{
  content:" ";
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
  background-color:#D9D9D9;
}
.weui-uploader__input-box:before{
  width:2px;
  height:39.5px;
}
.weui-uploader__input-box:after{
  width:39.5px;
  height:2px;
}
.weui-uploader__input-box:active{
  border-color:#999999;
}
.weui-uploader__input-box:active:before,
.weui-uploader__input-box:active:after{
  background-color:#999999;
}
.weui-uploader__input{
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.sc_t{width: 72px;height: 72px;border: none;overflow: hidden;}
.sc_top{margin-top: -1px;}


/*-------监督目标------------*/
.wk_con{margin: 120px auto;padding: 0 15px;text-align: center;line-height: 30px;color: #666666;}
.wk_til{color: #ff6666;font-weight: bold;}