{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">

<html>
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon"/>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/weui.css' %}" type="text/css"/>

    <script type="text/javascript" src="{% static '/js/jquery-3.2.1.min.js' %}"></script>

    <meta name="description" content="伟大源自一个个渺小目标，分享你的小目标，让好友来帮你坚持实现。我的微目标，目标神器，定目标，实施目标，坚持目标，完成目标，实现目标，分享目标好帮手">
    <meta name="keywords" content="目标，人物，打卡，签到，监督，分享目标，完成目标，实现目标">


</head>

<body >

{% block content %}
{% endblock %}

</body>