{% extends "base.html" %}

{% load static %}
{% block title %}分享图片{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="lxbg ksbg">

        <div class="tx_con"><img class="tx tx_ks" src="{% static '/images/tx_test.jpg' %}" alt="微信头像"></div>
        <div class="nc">Reakyzhou 的小目标</div>
        <div class="mb">每天跑步3公里知道马拉松结束</div>
        <div class="nc">如不完成则自罚</div>
        <div class="mb cf">给围观群众发100元红包</div>
        <div class="ewm_con">
            <div class="erm_left"><img class="img_ewm" src="{% static '/images/ewm_test.png' %}" alt="二维码"></div>
            <div class="sm_right">长按识别二维码,<span class="red_z">围观监督小目标</span><br><span class="bold_z">世界会向那些有目标和远见的人让路</span></div>
        </div>
    </div>
    <div class="fxtip">右上角分享，邀请好友来监督</div>

    <div>
        <img class="right_more" src="{{ img_url }}" >
    </div>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});




    </script>



{% endblock %}