{% extends "base.html" %}

{% load static %}
{% block title %}发起目标{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div>
        <span>世界会向那些有目标和远见的人让路</span>
    </div>
    <div>
        <span>我的小目标</span><br>
        <select>
            <option value="学习">学习</option>
            <option value="运动">运动</option>
            <option value="健康">健康</option>
            <option value="脱单">脱单</option>
            <option value="理财">理财</option>
        </select>
        <select>
            <option value="直播吃翔">直播吃翔</option>
            <option value="广场裸奔">广场裸奔</option>
            <option value="自曝真心话">自曝真心话</option>
            <option value="录段性感动作发朋友圈">录段性感动作发朋友圈</option>
            <option value="给围观群众发100元红包">给围观群众发100元红包</option>
            <option value="连续骑自行车30公里">连续骑自行车30公里</option>
            <option value="到小区捡1公斤垃圾">到小区捡1公斤垃圾</option>
        </select>
        <select>
            <option value="天">天</option>
            <option value="周">周</option>
            <option value="月">月</option>
        </select>
        <input type="text" id="goal" value="写下目标，就迈出最艰难的一步">
    </div>
    <div>
        <a href="#" id="save" class="save-btn">立即定下小目标</a>
        <a href="#" id="share" class="share-btn">分享到朋友圈</a>
    </div>

{% endblock %}