{% extends "base.html" %}

{% load static %}
{% block title %}分享图片{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="ksbg">

        <div class="tx_con"><img class="tx tx_ks" src="{% static '/images/tx_test.jpg' %}" alt="微信头像"></div>
        <div class="nc">Reakyzhou 的小目标</div>
        <div class="mb">每天跑步3公里知道马拉松结束</div>
        <div class="nc">如不完成则自罚</div>
        <div class="mb cf">给围观群众</div>
    </div>

    <div>
        <img class="right_more" src="{{ img }}" >
    </div>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

        function save_goal() {
            var goal_type = $("#goal_id").find("option:selected").text();
            if(goal_type === '目标类型')
            {
                alert('请选择一个目标类型');
                return;
            }

            var penalty = $("#penalty").find("option:selected").text();
            if(penalty === '自罚方式')
            {
                alert('请选择一个自罚方式');
                return;
            }

            var period = $("#period").find("option:selected").text();
            if(period === '执行周期')
            {
                alert('请选择一个执行周期');
                return;
            }

            if(period === '天')
            {
                period = 0;
            }
            else if(period === '周')
            {
                period = 1;
            }
            else if(period === '月')
            {
                period = 2;
            }
            else
            {
                alert('period is invalid, please check!');
                return;
            }

            var goal_content = $("#goal_content").val();
            if(goal_content === '写下目标，就迈出最艰难的一步')
            {
                alert('请输入目标的内容');
                return;
            }

            $.ajax({
                type:"post",
                url:"/weixin/save_goal/",//自己填写请求地址
                data:{goal_type:goal_type, penalty: penalty, period: period, goal_content: goal_content},
                success:function(result){
                    if(result === 'True')
                    {
                        alert('我的小目标创建完成，请到目标历史页面查看吧');
                        location.href = '/weixin/history/';
                    }
                    else
                    {
                        alert('Something wrong! Please contact administrator！');
                    }
                }
            });

        }

        function share_goal() {

        }


    </script>



{% endblock %}