{% extends "base.html" %}

{% load static %}
{% block title %}定个小目标{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="cre_jj">
        世界会向那些有目标和远见的人让路
    </div>
    <h1>我的目标方向</h1>
    <div class="cre_sty_con">
        {% for k, v in goal_type.items %}
            <a href="#" id="next" onclick="goto_next('{{ k }}')"  class="cry_sty" >{{ v }}</a>
        {% endfor %}

    </div>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});


        function goto_next(goal_type) {
            location.href = '/weixin/create2/' + goal_type + '/';
        }

    </script>

{% endblock %}



