{% extends "base.html" %}

{% load static %}
{% block title %}分享图片{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div >
        <img class="lxbg ksbg" src="{{ img_url }}" >
    </div>

    <div>
        <h5>定下{{ goal_type }}目标，目标值{{ goal_value }}元</h5>
        <h5>{{ frequence }},{{ frequent_value }},{{ period }}</h5>
    </div>

    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="#" id="share" onclick="share_goal('{{ goal_id }}')">查看专属分享卡，邀请好友来监督</a>
    </div>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});
        
        function share_goal(goal_id) {
            location.href = '/weixin/xuanyao/' + goal_id + '/';
        }
    </script>



{% endblock %}