{% extends "base.html" %}

{% load static %}
{% block title %}小目标内容{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <h2>我的小目标</h2>
    <div class="tip">写下目标，已迈出最艰难的一步</div>
    <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="目标描述" rows="2" id="goal_content"></textarea>
                </div>
            </div>
        </div>
    <div class="weui-cells">
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select1" id="penalty">
                        <option selected="" value="自罚方式" style="color: #C8C8CD">自罚方式</option>
                        <option value="直播吃翔">直播吃翔</option>
                        <option value="广场裸奔">广场裸奔</option>
                        <option value="自曝真心话">自曝真心话</option>
                        <option value="录段性感动作发朋友圈">录段性感动作发朋友圈</option>
                        <option value="给围观群众发100元红包">给围观群众发100元红包</option>
                        <option value="连续骑自行车30公里">连续骑自行车30公里</option>
                        <option value="到小区捡1公斤垃圾">到小区捡1公斤垃圾</option>
                    </select>
                </div>
            </div>
    </div>
    <div class="weui-cells">
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select1" id="period">
                        <option selected="" value="目标时间" style="color: #C8C8CD">目标时间</option>
                        {% for k, v in frequent.items %}
                           <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
    </div>


    <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="#" id="save" onclick="save_goal('share')">定下目标，邀好友监督</a>
            <a class="weui-btn2 weui-btn_default" href="#" id="save" onclick="save_goal('save')">定下目标，自己加油</a>
    </div>


    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

        function save_goal(save_type) {
            var goal_type = '{{ goal_type }}';

            var penalty = $("#penalty").find("option:selected").text();
            if(penalty === '自罚方式')
            {
                alert('请选择一个自罚方式');
                return;
            }

            var period = $("#period").find("option:selected").val();
            if(period === '目标时间')
            {
                alert('请选择一个目标时间');
                return;
            }

            var goal_content = $("#goal_content").val();
            if(goal_content === '')
            {
                alert('请输入目标的内容');
                return;
            }

            $.ajax({
                type:"post",
                url:"/weixin/save_goal/",//自己填写请求地址
                data:{goal_type: goal_type, penalty: penalty, period: period, goal_content: goal_content},
                success:function(result){
                    var res = result.split('&')[0];
                    if(res === 'True')
                    {
                        if(save_type === 'save')
                        {
                            location.href = '/weixin/createsuccess/';
                        }
                        else if(save_type === 'share')
                        {
                            var goal_id = parseInt(result.split('&')[1]);
                            location.href = '/weixin/create3/' + goal_id + '/';

                        }
                    }
                    else
                    {
                        alert('Something wrong! Please contact administrator！');
                    }
                }
            });
        }


    </script>



{% endblock %}
