{% extends "base.html" %}

{% load static %}
{% block title %}定个小目标{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="cre_jj">
        世界会向那些有目标和远见的人让路
    </div>
    <h1>我的目标方向</h1>
    <div class="cre_sty_con">
        <a href="#" id="next" onclick="goto_next()"  class="cry_sty" onmouseover="this.style.backgroundColor='#ff3333'" onmouseout="this.style.backgroundColor='#f8f8f8'">学习</a>
        <a href="#" id="next" onclick="goto_next()" class="cry_sty" onmouseover="this.style.backgroundColor='#ff3333'" onmouseout="this.style.backgroundColor='#f8f8f8'">运动</a>
        <a href="#" id="next" onclick="goto_next()" class="cry_sty" onmouseover="this.style.backgroundColor='#ff3333'" onmouseout="this.style.backgroundColor='#f8f8f8'">健康</a>
        <a href="#" id="next" onclick="goto_next()" class="cry_sty" onmouseover="this.style.backgroundColor='#ff3333'" onmouseout="this.style.backgroundColor='#f8f8f8'">脱单</a>
        <a href="#" id="next" onclick="goto_next()" class="cry_sty" onmouseover="this.style.backgroundColor='#ff3333'" onmouseout="this.style.backgroundColor='#f8f8f8'">存钱</a>
        <a href="#" id="next" onclick="goto_next()" class="cry_sty" onmouseover="this.style.backgroundColor='#ff3333'" onmouseout="this.style.backgroundColor='#f8f8f8'">其他</a>
    </div>

{% endblock %}


    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

        function goto_next() {
            var goal_type = $("#goal_id").find("option:selected").text();
            if(goal_type === '目标类型')
            {
                alert('请选择一个目标类型');
                return;
            }

            location.href = '/weixin/' + goal_type + '/';

        }

    </script>
