{% extends "base.html" %}

{% load static %}
{% block title %}分享图片{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="gr_top">
           <img class="gr_tx" src="{% static '/images/tx_test.jpg' %}" alt="微信头像">
           <div class="gr_nc"> Reakyzhou</div>
           <h6>定下 <span class="tc">{{ goal_type }}</span> 目标，目标值 <span class="tc">{{ goal_value }} </span>元</h6>
           <h6>{{ frequence }},{{ frequent_value }},{{ period }}</h6>
           <span class="col_z">自拍达人一枚，我拍故我在</span>
       </div>

    <div>
        <h5>定下{{ goal_type }}目标，目标值{{ goal_value }}元</h5>
        <h5>{{ frequence }},{{ frequent_value }},{{ period }}</h5>
    </div>

    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="#" id="share" onclick="share_goal()">查看专属分享卡，邀请好友来监督</a>
    </div>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});
        
        function share_goal() {
            
        }




    </script>



{% endblock %}