{% extends "base.html" %}

{% load static %}
{% load own_tag %}
{% block title %}目标详情{% endblock %}
{% block head %}

{% endblock %}

{% block content %}


    <div class="mb_con">
       {% if not is_own %}
        <div>
            <img class="img_zz_tx2" src="{{ goal.1 | get_headimg }}"><br>
            <span>{{ goal.1 | get_author_name }}的小目标</span>
        </div>
    {% endif %}
       <div class="mb_nr">{{ goal.3 }}<br><span class="fz_nr">如不完成则自罚</span> <br>{{ goal.4 }}</div>
    </div>
    <div class="mb_zt_con">
        <div class="mb_zt_li mb_zt_left"><b class="mb_zxz">{{ goal.6 | get_goal_status }}</b><br>创建：{{ goal.7 | convert_time }}</div>
        <div class="mb_zt_li"><b>{{ audience_count }}</b><br>监督</div>
{#        <div class="mb_zt_li"><b>68</b><br>围观</div>#}
    </div>
    <div class="fg_line"></div>
    <div class="mb_xq">
        <h4>监督好友（{{ audience_count }}）</h4>
        <div class="jd_con">
            {% for k, v in audience_headimgurl %}
                <img class="img_jd" src="{{ v }}" alt="监督好友">
            {% endfor %}

        </div>
    </div>
    <div class="fg_line"></div>
    <div id="goal_close" style="display: none;" class="mb_wj_bg">
       <div class="mb_wj_con">
           <div class="wj_tip">实现目标，是自我的升华，值得分享和庆祝<br>放弃目标，亦是一种调整，虽败犹荣！</div>
           <div class="wj_cz">
               <a href="#" id="audience" onclick="goal_operator('{{ goal.0 }}', 2)"><div class="wj_cz_l">目标放弃</div></a>
               <a href="#" id="create" onclick="goal_operator('{{ goal.0 }}', 1)"><div class="wj_cz_l wj_cz_r">目标实现</div></a>
           </div>
           </div>
    </div>

    <div class="zx_con">
         <h4>打卡记录（{{ history_count }}）</h4>
        {% for history in goal_histories %}
            <div class="zx_li">
                 <div class="zx_li_nr">{{ history.2 }}</div>
                 <div class="zx_li_tp">
                     {% for k, v in history_image_list.items %}
                         {% if v %}
                             {% ifequal k history.0 %}
                                 {% for image_url in v %}
                                    <img class="img_tp" src="{{ image_url }}" alt="进度打卡">
                                 {% endfor %}
                             {% endifequal %}
                         {% endif %}

                     {% endfor %}
                 </div>
                 <div class="zx_li_time">{{ history.3 | convert_time }}</div>
             </div>
        {% endfor %}
    </div>



    <div class="mb_cz">
        {% if is_own %}
            {% ifequal goal.6 0 %}
                <div class="mb_cz_left"><a class="weui-btn3 weui-btn_default cz_an_s_l" href="/weixin/create3/{{ goal.0 }}/" id="share">邀请好友监督</a></div>

                <div class="mb_cz_right"><a class="weui-btn weui-btn_primary cz_an_s_m" href="#" id="close_goal" onclick="close_goal()">目标完结</a></div>
                <div class="mb_cz_right"><a class="weui-btn weui-btn_primary cz_an_s_r" href="/weixin/goinglog/{{ goal.0 }}/">打卡记录</a></div>
            {% else %}
                <div class="mb_cz_left"><a class="weui-btn3 weui-btn_default cz_an_s_l" href="/weixin/create3/{{ goal.0 }}/" id="share">炫耀一下</a></div>

            {% endifequal %}
        {% else %}
            <div class="mb_cz_left2"><a class="weui-btn3 weui-btn_default cz_an_s_l" href="/weixin/create1/" id="create">我也定个小目标</a></div>
            {% ifequal goal.6 0 %}
                <div class="mb_cz_right2"><a class="weui-btn weui-btn_primary cz_an_s_m" href="#" id="audience" onclick="audience()">监督此目标</a></div>
            {% endifequal %}
        {% endif %}
    
    </div>


    <div id="hidden" style="display: none;">
        <input type="checkbox" checked id="audience_hidden">
    </div>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

        function audience()
        {
            var open_id = '{{ open_id }}';
            var goal_id = '{{ goal.0 }}';
            if($('#audience_hidden').prop('checked'))
            {
                $("#audience_hidden").prop("checked",false);

                $.ajax({
                    type:"post",
                    url:"/weixin/goal_action/",//自己填写请求地址
                    data:{goal_id: goal_id, open_id: open_id, action: 'create'},
                    success:function(result){
                        var res = result.split('&')[0];
                        if(res === 'True')
                        {
                            $('#audience').text = '取消监督';
                        }
                        else
                        {
                            alert('服务器故障，请稍后再试');
                        }
                    }
                });
            }
            else
            {
                $("#audience_hidden").prop("checked",true);
                $('#audience').text = '监督';
                $.ajax({
                    type:"post",
                    url:"/weixin/operate_audience/",//自己填写请求地址
                    data:{goal_id: goal_id, open_id: open_id, action: 'remove'},
                    success:function(result){
                        var res = result.split('&')[0];
                        if(res === 'True')
                        {
                            $('#audience').text = '监督';
                        }
                        else
                        {
                            alert('服务器故障，请稍后再试');
                        }
                    }
                });
            }
        }

        function close_goal()
        {
            $('#goal_close').show();
        }

        function goal_operator(goal_id, action)
        {
            $.ajax({
                type:"post",
                url:"/weixin/goal_action/",//自己填写请求地址
                data:{goal_id: goal_id, action: action},
                success:function(result){
                    var res = result.split('&')[0];
                    if(res === 'True')
                    {
                        location.href = '/weixin/history/';
                    }
                    else
                    {
                        alert('服务器故障，请稍后再试');
                    }
                }
            });
        }





    </script>


{% endblock %}