{% extends "base.html" %}

{% load static %}
{% load own_tag %}
{% block title %}目标详情{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="mb_con">
       <div class="mb_nr">每天跑步3公里直到马拉松结束</div>
       <div class="fz_nr">如不完成则自罚</div>
       <div class="mb_nr">给围观群众发100元红包</div>
       <div class="mb_zt">执行中  剩余:5天</div>
    </div>


    <div>
        <span>{{ goal.6 | get_goal_status }}</span>
        <span>{{ goal.3 }}</span>
        <span>{{ goal.4 }}</span>
        <span>{{ goal.7 | convert_time }}</span>
    </div>

    <div>
        <span>目标监督人：人数</span>
        <img src="" onclick="">
    </div>

    <div>
        <span>目标执行记录：</span>

    </div>
    <a href="#" id="share" class="save-btn">邀请好友监督</a>
    <a href="#" id="log" class="save-btn">进度记录</a>
    <a href="#" id="complete" class="save-btn">目标完成</a>
    <a href="#" id="complete" class="save-btn">目标完成</a>

{% endblock %}