{% extends "base.html" %}

{% load static %}
{% block title %}进度记录{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="weui-cells weui-cells_form sc_top">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="写下过程，打卡记录" rows="3"></textarea>
                <div class="weui-uploader__bd" id="preview_wrapper">
                    <div id="images">
                        <ul class="weui-uploader__files" id="uploaderFiles">
                            <li class="weui-uploader__file "><img class="sc_t" src="{% static '/images/tx_test.jpg' %}" alt="过程记录图"></li>
{#                            <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(/static/images/tx_test.jpg)">#}
{#                                  <div class="weui-uploader__file-content">50%</div>#}
{#                            </li>#}
                         </ul>
                    </div>

                   <div class="weui-uploader__input-box">
                       <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple onchange="onUploadImgChange(this)"/>
                   </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="#" id="publish" onclick="save_goal('share')">发布记录</a>
    </div>


    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

        function onUploadImgChange(sender)
        {
            if( !sender.value.match( /.jpg|.gif|.png|.jpeg|.bmp/i ) ){
                alert('图片格式无效！');
                return false;
            }

            var image_path = sender.files[0].getAsDataURL();
            alert(sender.files[0].getAsDataURL());

            var content = '<ul class="weui-uploader__files" id="uploaderFiles">\n' +
                '                            <li class="weui-uploader__file "><img class="sc_t" src="' + image_path + '" alt="过程记录图"></li>\n' +
                '                         </ul>';
            $("#images").append(content);
        }



    </script>


{% endblock %}