{% extends "base.html" %}

{% load static %}
{% block title %}进度记录{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="weui-cells weui-cells_form sc_top">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="写下过程，打卡记录" rows="3" id="goal_log"></textarea>
                <div class="weui-textarea-counter"><span id="wordCountShow"></span></div>
                <div class="weui-uploader__bd" id="preview_wrapper">

                        <ul class="weui-uploader__files" id="uploaderFiles">
{#                            <li class="weui-uploader__file "><img class="sc_t" src="{% static '/images/tx_test.jpg' %}" alt="过程记录图"></li>#}
{#                            <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(/static/images/tx_test.jpg)">#}
{#                                  <div class="weui-uploader__file-content">50%</div>#}
{#                            </li>#}
                            <div id="images">

                            </div>
                         </ul>


                   <div class="weui-uploader__input-box">
                       <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple onchange="onUploadImgChange(this)"/>
                   </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="#" id="publish" onclick="save_history()" type="submit">发布记录</a>
    </div>
    <div id="errormsg" class="fk_tip"></div>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});


        $.fn.extend({
            wordCount: function (maxLength, wordWrapper) {
              var self = this;
              $(self).attr("maxlength", maxLength);
              showWordCount();
              $(this).on("input propertychange", showWordCount);
              function showWordCount() {
                curLength = $(self).val().length;
                var leaveCount = maxLength - curLength;
                wordWrapper.text(leaveCount + "/" + maxLength);
                if(leaveCount === 0)
                {
                    $('#wordCountShow').css({color:"red"});
                }

              }
            }
          });
          $(function () {
            $("#goal_log").wordCount(140, $("#wordCountShow"));
          });


        function onUploadImgChange(sender)
        {
            if( !sender.value.match( /.jpg|.gif|.png|.jpeg|.bmp/i ) ){
                alert('图片格式无效！');
                return false;
            }

            for(var i=0; i< sender.files.length; i++)
            {
                var image_path =  window.URL.createObjectURL(sender.files[i]);
                var content = '<li class="weui-uploader__file "><img class="sc_t" id="upload_files" src="' + image_path + '" alt="过程记录图"></li>\n';
                $("#images").append(content);

            }

        }

        function save_history() {
            var goal_id = '{{ goal_id }}';
            var history_content = $('.weui-textarea').val();
            var image_urls = document.getElementsByClassName('sc_t');
            var image_url = '';
            for(var i=0; i<image_urls.length;i++)
            {
                if(image_url==='')
                {
                    image_url = image_urls[i].src;
                }
                else
                {
                    image_url = image_url + ';' + image_urls[i].src;
                }

            }

            $.ajax({
                type:"post",
                url:"/weixin/save_history/",//自己填写请求地址
                data:{goal_id: goal_id, history_content: history_content, image_url: image_urls},
                success:function(result){
                    var res = result.split('&')[0];
                    if(res === 'True')
                    {
                        show_msg();
                        setTimeout(function(){
                        clear_msg();

                        location.href = '/weixin/goaldetail/' + goal_id + '/';
                        },2000);
                    }
                    else
                    {
                        alert('服务器故障，请稍后再试');
                    }
                }
            });

        }

        function show_msg()
        {
            $("#errormsg").html("打卡成功，记录已添加");
            $('#errormsg').show();
        }
        function clear_msg()
        {
            $("#errormsg").html('');
            $('#errormsg').hide();
        }


    </script>


{% endblock %}