{% extends "base.html" %}

{% load static %}
{% block title %}进度记录{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="weui-cells weui-cells_form sc_top">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="执行过程记录打卡" rows="3"></textarea>
                    <div class="weui-uploader__bd">
        <ul class="weui-uploader__files" id="uploaderFiles">
            <li class="weui-uploader__file "><img class="sc_t" src="{% static '/images/tx_test.jpg' %}" alt="过程记录图"></li>
            <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(/static/images/tx_test.jpg)">
                  <div class="weui-uploader__file-content">50%</div>
            </li>
         </ul>
           <div class="weui-uploader__input-box">
               <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple/>
           </div>
     </div>
                </div>
            </div>
        </div>

    <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="#" id="publish" onclick="save_goal('share')">发布记录</a>
    </div>


{% endblock %}