{% extends "base.html" %}

{% load static %}
{% load own_tag %}
{% block title %}我的历史目标{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="pg_bg">
        {% if goals %}
            {% for goal in goals %}
                {% ifequal goal.6 0 %}
                    <a href="/weixin/goaldetail/{{ goal.0 }}/"><div class="li_con li_zxz">
                {% endifequal %}
                {% ifequal goal.6 1 %}
                    <a href="/weixin/goaldetail/{{ goal.0 }}/"><div class="li_con li_wc">
                {% endifequal %}
                {% ifequal goal.6 2 %}
                    <a href="/weixin/goaldetail/{{ goal.0 }}/"><div class="li_con li_fq">
                {% endifequal %}

                <span>test</span>

                <div class="li_con_l"><div class="img_l ks">{{ goal.2 | get_goal_type }}</div></div>
                <div class="li_con_r">
                     <div class="r_til">
                         <span class="col_zxz">[{{ goal.6|get_goal_status }}]</span>{{ goal.3 }}
                     </div>
                    <div class="r_sm">{{ goal.0 | get_goal_create_time }}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;监督{{ goal.0 | get_goal_audience_count }}</div>
                </div>

            </div></a>

            {% endfor %}
        {% else %}
            <div class="wk_con"><span class="wk_til">您还没定目标，快去创建一个吧</span><br>
              <a href="#" id="create" class="create-btn">创建目标</a>
            </div>
        {% endif %}
    </div>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

    </script>

{% endblock %}