{% extends "base.html" %}

{% load static %}
{% load own_tag %}
{% block title %}我的历史目标{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

   <div class="pg_bg">
        <div class="li_con li_zxz">
            <div class="li_con_l"><div class="img_l">学习</div></div>
            <div class="li_con_r">
                <div class="r_til">每天跑步3公里知道马拉松结束</div>
                <div class="r_sm">8月9日&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;围观：68&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;监督：19</div>
            </div>
        </div>

   </div>




    <div id="own">
        {% if goals %}
            {% for goal in goals %}
                <a href="/weixin/goaldetail/{{ goal.0 }}/">
                    <span>{{ goal.3 }}</span><br>
                    <span>创建于：{{ goal.7 | convert_time }}</span>
                </a>
                <br>
            {% endfor %}
        {% else %}
            <span>暂时还没有目标，快去创建一个目标吧</span><a href="#" id="create" class="create-btn">创建目标</a>
        {% endif %}
    </div>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

    </script>

{% endblock %}