{% extends "base.html" %}

{% load static %}
{% load own_tag %}
{% block title %}我的历史目标{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="pg_bg">
        {% if goals %}
            {% for goal in goals %}
                {% ifequal goal.6 0 %}
                    <div class="li_con li_zxz">
                        <div class="li_con_l"><div class="img_l ks">{{ goal.2 | get_goal_type }}</div></div>
                        <div class="li_con_r">
                             <div class="r_til">
                                 <a href="/weixin/goaldetail/{{ goal.0 }}/">[{{ goal.6|get_goal_status }}]{{ goal.3 }}</a>
                             </div>
                            <div class="r_sm">8月9日&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;围观：68&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;监督：19</div>
                        </div>
                    </div>
                {% endifequal %}
                {% ifequal goal.6 1 %}
                    <div class="li_con li_wc">
                        <div class="li_con_l"><div class="img_l yd">{{ goal.2 }}</div></div>
                        <div class="li_con_r">
                            <div class="r_til"><a href="/weixin/goaldetail/{{ goal.0 }}/">[{{ goal.6 |get_goal_status}}]{{ goal.3 }}</a></div>
                            <div class="r_sm">8月6日&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;围观：68&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;监督：19</div>
                        </div>
                    </div>
                {% endifequal %}
                {% ifequal goal.6 2 %}
                    <div class="li_con li_fq">
                        <div class="li_con_l"><div class="img_l jk">{{ goal.2 }}</div></div>
                        <div class="li_con_r">
                            <div class="r_til"><a href="/weixin/goaldetail/{{ goal.0 }}/">[{{ goal.6|get_goal_status }}]{{ goal.3 }}</a></div>
                            <div class="r_sm">8月6日&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;围观：68&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;监督：19</div>
                        </div>
                    </div>
                {% endifequal %}

                <br>
            {% endfor %}
        {% else %}
            <span>暂时还没有目标，快去创建一个目标吧</span><a href="#" id="create" class="create-btn">创建目标</a>
        {% endif %}
    </div>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

    </script>

{% endblock %}