{% extends "base.html" %}

{% load static %}
{% block title %}监督目标{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="pg_bg">
        <div class="li_con li_zxz">
            <div class="li_con_l"><img class="img_l" src="{% static '/images/tx_test.jpg' %}" alt="头像"></div>
            <div class="li_con_r">
                 <div class="r_til"><a href="goaldetail.html">[执行中]每天跑步3公里知道马拉松结束，要不要一起来呢</a></div>
                <div class="r_sm">8月9日&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;围观：68&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;监督：19</div>
            </div>
        </div>
        <div class="li_con li_wc">
            <div class="li_con_l"><img class="img_l" src="{% static '/images/tx_test.jpg' %}" alt="头像"></div>
            <div class="li_con_r">
                <div class="r_til"><a href="goaldetail.html">[完成]每天跑步3公里知道马拉松结束</a></div>
                <div class="r_sm">8月6日&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;围观：68&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;监督：19</div>
            </div>
        </div>
        <div class="li_con li_fq">
            <div class="li_con_l"><img class="img_l" src="{% static '/images/tx_test.jpg' %}" alt="头像"></div>
            <div class="li_con_r">
                <div class="r_til"><a href="goaldetail.html">[放弃]每天喝一杯牛奶</a></div>
                <div class="r_sm">8月6日&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;围观：68&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;监督：19</div>
            </div>
        </div>




    <div id="others">
        {% if histories %}
            {% for history in histories %}

            {% endfor %}
        {% else %}
            <span>暂时还没有监督目标</span>
        {% endif %}
    </div>

{% endblock %}