{% extends "base.html" %}

{% load static %}
{% load own_tag %}
{% block title %}监督目标{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="pg_bg">

        {% if audience_goals %}
            {% for goal in audience_goals %}
                {% ifequal goal.0 0 %}
                    <div class="li_con li_zxz">
                {% endifequal %}
                {% ifequal goal.0 1 %}
                    <div class="li_con li_wc">
                {% endifequal %}
                {% ifequal goal.0 2 %}
                    <div class="li_con li_fq">
                {% endifequal %}
                    <div class="li_con_l"><img class="img_l" src="{{ goal.0 | get_headimg }}" alt="头像"></div>
                    <div class="li_con_r">
                         <a href="goaldetail.html"><div class="r_til">[{{ goal.0 | get_goal_status }}]{{ goal.0 | get_goal_content }}</div></a>
                        <div class="r_sm2">{{ goal.0 | get_goal_create_time }}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;监督{{ goal.0 | get_goal_audience_count }}</div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="wk_con"><span class="wk_til">您还没监督好友的目标</span><br>
              助人要从日常小事做起，不因善小而不为。
            </div>
        {% endif %}

{% endblock %}