{% extends "base.html" %}

{% load static %}
{% block title %}执行排行{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="ph_zz">
        <div class="ph_zz_l">
            <div class="zz_l_tx"><img class="img_zz_tx" src="{% static '/images/tx_test.jpg' %}" alt="头像"></div>
            <div class="zz_l_nc">刘志祥</div>
            <div class="zz_l_ph">第5名</div>
        </div>
        <div class="ph_zz_r">5</div>
        <div class="zz_sj">
            <div class="zz_sj_l zz_sj_b">创建：12</div>
            <div class="zz_sj_l">完成：4</div>
            <div class="zz_sj_l">放弃：5</div>
            <div class="zz_sj_l">执行中：3</div>
        </div>
    </div>

    <div class="ph_l_con">
        <div class="ph_l_n">1</div>
        <div class="zz_l_tx"><img class="img_zz_tx" src="{% static '/images/tx_test.jpg' %}" alt="头像"></div>
        <div class="ph_l_m">刘志祥</div>
        <div class="ph_l_n">79</div>
    </div>


    <div>
        <img><span>昵称</span><span>score</span><br>
        <span>创建：目标数量</span><span>完成：完成数量</span><span>放弃：放弃数量</span><span>进行中：进行中数量</span>
    </div>
    <div>

    </div>

{% endblock %}